<div class="overlap-group2 overlap">
  <div class="navbar">
    <img class="logo" src="assets/img/logo.svg" alt="logo" />
    <div class="navbar-menu">
      <article class="btn-primary">
        <div class="button-1">
          <div class="button bodybold14">Services</div>
        </div>
      </article>
      <article class="btn-primary">
        <div class="button-1">
          <div class="button bodybold14">Industries</div>
        </div>
      </article>
      <article class="btn-primary">
        <div class="button-1">
          <div class="button bodybold14">Cases</div>
        </div>
      </article>
      <article class="btn-primary">
        <div class="button-1">
          <div class="button bodybold14">Contact</div>
        </div>
      </article>
    </div>
    <div class="btn-primary-2 btn-primary-3">
      <div class="button-3">
        <div class="button-4 bodybold14">Let’s Talk</div>
      </div>
    </div>
  </div>
</div>
