.custom-navbar {
  background-color: #70259B !important;
}
.custom-navbar .navbar-nav .nav-link {
  color: #FFFFFF !important;
}
.custom-navbar .btn-white {
  background-color: white;
  color: #70259B;
  ;
}

.custom-navbar .navbar-brand {
  margin-left: 100px; 
}

.btn-white {
  margin-right: 
  100px; 
}
