<!-- nav bar start -->
<nav class="navbar navbar-expand-lg custom-navbar">
  <a class="navbar-brand" href="#">
    <img src="./assets/Vector2.png" alt="Logo" />

    <img src="./assets/Vector.png" alt="Logo" />
    <img src="./assets/BRAND.png" alt="Logo" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarContent"
    aria-controls="navbarContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-center"
    id="navbarContent"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Industries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contract</a>
      </li>
    </ul>
  </div>
  <a href="#" class="btn btn-white">Let's talk</a>
</nav>
<!-- nav bar end -->

<!-- below navbar image start -->
<div class="image-container">
  <img
    src="./assets/HeroImage.png"
    alt="Background Image"
    class="below-navbar-image"
  />
  <div class="overlay-text">
    <h1>Live with Confidence</h1>

    <p>José Mourinho brings confidence to pan-African Sanlam campaign.</p>
    <a href="#" class="btn btn-white">Let's talk</a>
  </div>
</div>

<!-- below navbar image end  -->
