/* service-card.component.css */

.service-card {
  display: flex;
  flex-direction: column;
  align-items: left; /* Center content horizontally */
  text-align: left; /* Center text horizontally */
  padding: 20px;
 
  border-radius: 5px;
  margin: 10px;
  width: calc(25% - 20px); /* Adjust the width as needed based on your layout */
  box-sizing: border-box;
}

/* Optional: Add media query for responsiveness */
@media (max-width: 768px) {
  .service-card {
    width: 100%; /* Full width on smaller screens */
  }
}
