<div class="what-we-do">
  <div class="heading-tag heading-2">
    <img
      class="rectangle-1-2 rectangle-1-4"
      src="assets/img/rectangle-1.svg"
      alt="Rectangle 1"
    />
    <div class="what-we-do-1 subtitleis-4">What we do</div>
  </div>
  <p class="we-offer-a-complete valign-text-middle headingis-1">
    We offer a complete range of bespoke design and development services to help
    you turn your ideas into digital masterpieces
  </p>
  <div class="flex-row flex">
    <app-service-card
      class="service-card"
      iconSrc="assets/img/web-dev-icon.svg"
      iconAlt="Web Dev Icon"
      title="Web development"
      description="We use cutting-edge web development technologies to help our clients fulfill their business goals through functional, reliable solutions."
    ></app-service-card>

    <app-service-card
      class="service-card"
      iconSrc="assets/img/ux-icon.svg"
      iconAlt="UX Icon"
      title="User experience &amp; design"
      description="Our complete web design services will bring your ideas to life and provide you with a sleek, high-performing product that elevates your business."
    ></app-service-card>

    <app-service-card
      class="service-card"
      iconSrc="assets/img/app-dev-icon.svg"
      iconAlt="App Dev Icon"
      title="Mobile app development"
      description="Our extensive mobile development experience allows us to create custom native and cross-platform iOS and Android mobile solutions for our clients."
    ></app-service-card>

    <app-service-card
      class="service-card"
      iconSrc="assets/img/blockchain--icon.svg"
      iconAlt="Blockchain /icon"
      title="Blockchain solutions"
      description="We conduct market research to determine the optimal blockchain-based solutions to help you grow your company and achieve your business goals."
    ></app-service-card>
  </div>
</div>
