<!-- start of brands -->
<div class="brands">
  <div class="heading-tag-1 heading-tag-3">
    <div class="rectangle-1"></div>
    <p class="youll-be-in-good-company subtitleis-5">
      You’ll be in good company
    </p>
  </div>
  <div class="trusted-by-leading-brands valign-text-middle headingis-1">
    Trusted by leading brands
  </div>

  <!-- Brand images container -->
  <div class="brands-container">
    <!-- Loop through each brand and display its image -->
    <div *ngFor="let brand of brands" class="brand-item">
      <img [src]="brand.imgURL" alt="{{ brand.name }}" width="100%" />
    </div>
  </div>
</div>
<!-- end of brands -->
