<!-- start of brands -->
<div class="brands">
  <div class="heading-tag-1 heading-tag-3">
    <div class="rectangle-1"></div>
    <p class="youll-be-in-good-company subtitleis-5">
      You’ll be in good company
    </p>
  </div>
  <div class="trusted-by-leading-brands valign-text-middle headingis-1">
    Trusted by leading brands
  </div>
  <div class="brands-top-row">
    <div class="brand">
      <img
        class="visa-black"
        src="assets/img/visa-black-.svg"
        alt="visa-black "
      />
    </div>
    <img class="brand-5" src="assets/img/brand.svg" alt="Brand" />
    <img class="brand-5" src="assets/img/brand-1.svg" alt="Brand" />
    <img class="brand-5" src="assets/img/brand-2.svg" alt="Brand" />
    <img class="brand-5" src="assets/img/brand-3.svg" alt="Brand" />
  </div>
  <div class="brands-middle-row">
    <img class="frame-4" src="assets/img/frame-4.svg" alt="Frame 4" />
    <img class="frame-5" src="assets/img/frame-5.svg" alt="Frame 5" />
    <img class="frame-6" src="assets/img/frame-6.svg" alt="Frame 6" />
    <img class="frame-7" src="assets/img/frame-7.svg" alt="Frame 7" />
    <img class="frame-8" src="assets/img/frame-8.svg" alt="Frame 8" />
  </div>
  <img
    class="brands-bottom-row"
    src="assets/img/brands-bottom-row.png"
    alt="Brands bottom row"
  />
</div>
<!-- end of brands -->
