.product-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 4px;
}

.product-item-content {
  text-align: center;
}

.carousel-img {
  width: 100%;
  max-height: 200px;
}

.car-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-carousel .p-carousel-dot-icon {
  width: 16px;
  height: 16px;
}

.custom-carousel .p-carousel-dot-icon.p-highlight {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
