<div class="case-studies">
  <div class="heading-tag-1 heading-tag-3">
    <div class="rectangle-1"></div>
    <p class="youll-be-in-good-company subtitleis-5">Case studies</p>
  </div>
  <p-carousel
    [value]="cards"
    styleClass="custom-carousel"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="3000"
  >
    <ng-template let-card pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="p-mb-3 image-container">
            <!-- Image -->
            <img
              [src]="card.imageUrl"
              [alt]="card.altText"
              class="carousel-img"
            />

            <!-- Overlay text (title and description) -->
            <div class="overlay-text">
              <div class="heading-container">
                <h4 class="p-mb-1">{{ card.title }}</h4>
                <h6 class="p-mt-0 p-mb-3">{{ card.description }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
